.navbar-default {
	background-color: #fafafa;
  	border-color: #ccc;
  	border-radius: 0;
}

.mk-navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.circular {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}