/* Sidebar Styles */
#mk-sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.mk-state {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
	line-height: 50px;
	font-weight: bold;
	font-size: 18px;
	color: grey;
}

.mk-widget-list {
	font-weight: bold;
	color: grey;
}

.mk-widget-selector {
	border: 1px dashed #444;
	border-radius: 5px;
	padding: 5px;
	background-color: white;
	cursor: pointer;
}

.mk-sidebar-item {
    padding: 10px;
}